@font-face {
  font-family: PP Neue Montreal;
  src: url(./fonts/PPNeueMontreal-Book.woff2);
}

@font-face {
  font-family: ITC Garamond Std;
  src: url(./fonts/ITCGaramondStd-LtCondIta.woff2);
}

@font-face {
  font-family: HG Seikaishotai PRO;
  src: url(./fonts/hgrskp_0.TTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PP Neue Montreal;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  width: 70%;
  height: 100vh;
  color: black;
  background-color: #FFFCF8;
  margin-left:auto;
  margin-right:auto;
}

h1{
  font-size: 45px;
  text-align: center;
}

p{
  text-align: center;
}

.garamond-font {
  font-family: ITC Garamond Std;
}

.biau-font {
  font-family: HG Seikaishotai PRO;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

button {
  border: 1px solid black;
  border-radius: 100px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  margin: 100px 30px;
  padding: 5px 30px;
  font-size: 25px;
  color: black;
}

.black-btn {
  color: white;
  background-color: black;
}

.home-page_btns, .completed-page_btn, .back-home_btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-page {
  margin-top: 150px;
}
.category-page_main-text {
  margin-bottom: 40px;
}

.category-page_btns {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-rows: 80px;
  
}

.category-btn {
  font-size: 20px;
  padding: 20px 30px;
  margin: 5px 0px;
  color: black;
}

.interview-question {
  font-size: 25px;
  text-align: center;
}

.countdown {
  margin-top: 50px;
}

.countdown-txt {
  font-family: HG Seikaishotai PRO;
  font-size: 50px
}

.question-page_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.how-to {
  margin-bottom: 70px;
}

.instructions {
  margin-top: 40px;
  font-size: 25px;
}

@media only screen and (min-width: 1300px) {

  button{
    padding: 5px 30px;
    font-size: 50px;
  }

  h1{
    font-size: 70px;
  }
  
  .category-page_btns{
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-auto-rows: 100px;
    gap: 10px;
  }

  .category-btn {
    font-size: 30px;
    padding: 10px 120px;
  }
  .one {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .two {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .three {
    grid-column: 3 / 3;
    grid-row: 1;
  }

  .four {
    grid-column: 2/3;
    grid-row: 2;
  }

  .interview-question {
    font-size: 70px;
    text-align: center;
  }
  .countdown {
    font-size: 100px;
    margin-top: 100px;
  }

  .back-btn{
    font-size: 35px;
    margin-top: 200px;
  }
  .go-back_btn{
    font-size: 35px;
  }
  .countdown-txt {
    font-size: 80px;
  }

  .instructions {
    font-size: 35px;
  }
}